body {
  background: url(../images/sm.jpg) repeat 0 0;
  background-size: cover;
  font-family: sans-serif;
}

img {
  display: block;
  width: 150px;
  margin: 100px auto;
}

.SpoilerButton {
  background: #dae1e4;
  border: none;
  border-radius: 5px;
  color: #1d3c6a;
  font-size: 20px;
  padding: 35px 0;
  outline: none;
  cursor: pointer;
  margin: 0 auto 20px;
  width: 450px;
  display: block;
}

.spoiler {
  background: #eb4c42;
  width: 420px;
  margin: 0 auto 20px;
  border-radius: 5px;
  text-align: center;
  font-size: 24px;
}

.spoiler span {
  color: #dae1e4;
  display: block;
  padding: 40px 20px;
}

.fsp {
  position: relative;
  bottom: 150px;
}

.sp {
  position: relative;
  top: 200px;
}
